/**
 * @Author: stefanotortone
 * @Date:   2017-12-03T11:46:15+01:00
 * @Last modified by:   stefanotortone
 * @Last modified time: 2017-12-06T17:49:13+01:00
 */



/* css inutile*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
	width: 100%;
	margin: 0 auto;
   	font-family: 'Calibri', sans-serif;
}


#divHeader{
	color: #000000;
	background-color: #ffffff;
	height: 100px;
	padding-left: 10px;
}

#title{
	font-size: 70px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#filter{
	margin-top: 30px;
	padding-top: 13px;
	margin-left: 5%;
	width: 90%;
	color: #fff;
	background-color: #1bb6b2;
	height: 70px;
	padding-left: 10px;
}


#div-station-name{
	float: left;
	margin-left: 15px;
	margin-right: 20px;
}

#input-station-name{
	margin-top: 5px;
	width: 120px;
}

#select-country{
	margin-top: 5px;
	width: 120px;
}

#date{
	margin-right: 100px;
	margin-top: -20px;
	float: right;
}
/* fine css inutile */
/* inizio css collapsible */
.panelHeader {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 2s;
}

.panelHeader.active, .panelHeader:hover {
    background-color: #ccc;
}

div.panelCollapsibleBody {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s ease-out;
}
/* fine css collapsible*/
/* flag css */
.flagIcon{
    width: 50px;
    height: 50px;
}

.collapsibleImageStyle{
  height: 300px;
  width: 300px;
}

.temperature-box {
    float: right;
    border-radius: 10px;
    border: solid 2px #fff;
    width: 50px;
    height: 40px;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    font-weight: 600;
}

.weather-icon {
	position: relative;
	top: -10px;
	-webkit-filter: drop-shadow(1px 1px 0 white)
					drop-shadow(-1px 1px 0 white)
					drop-shadow(1px -1px 0 white)
		 			drop-shadow(-1px -1px 0 white);

	filter: drop-shadow(1px 1px 0 white)
			drop-shadow(-1px 1px 0 white)
			drop-shadow(1px -1px 0 white)
			drop-shadow(-1px -1px 0 white);
}
