/**
 * @Author: stefanotortone
 * @Date:   2017-12-03T11:46:15+01:00
 * @Last modified by:   stefanotortone
 * @Last modified time: 2017-12-08T17:42:59+01:00
 */



/* css inutile*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
	margin: 0 auto;
   	font-family: 'Calibri', sans-serif;
}
input{
  font-size:18px;
  display:block;
  border:none;
  border-bottom:1px solid #757575;
}
/* inizio grid */
.container{
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

.row::before,
.row::after {
	content: '';
	display: table;
}

.row::after {
	clear: both;
}

.col {
	float: left;
}

.col-1 {
	width: 8.33333333%;
}

.col-2 {
	width: 16.66666667%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33333333%;
}

.col-5 {
	width: 41.66666667%;
}

.col-6 {
	width: 50%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33333333%;
}

.col-8 {
	width: 66.66666667%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33333333%;
}

.col-11 {
	width: 91.66666667%;
}

.col-12 {
	width: 100%;
}
.col-headerElements {
    width: 12.5%;
}
/*fine grid */
.containerCollapse{
   background-color: #29b1d0;
   padding-bottom: 20px;
   font-size: 18px;
   font-weight: bold;
}
.comunication-box {
  margin: 2% 3%;
  padding: 10px;
  border: solid 3px blue;
  border-radius: 10px;
  height: 600px;
}

.other-comunications {
  position: relative;
}

.comunication-first {
  height: 300px;
  width: 300px;
}
.comunication-first img {
  position: relative;
  top: 10px;
}
aside{
    background-color: #ffffff;
}
aside h2 {
  text-align: center;
  margin: 10px;
  font-size: 25px;
}

aside h3 {
  text-align: center;
  margin: 10px;
  font-size: 25px;
  color: #3b81f8;
  width: 100%;
  margin-top: 30px;
}

#divHeader{
	color: #000000;
	background-color: #ffffff;
	height: 100px;
	padding-left: 10px;
}

#title{
	font-size: 70px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
#filter{
	color: #fff;
	background-color: #1bb6b2;
	height: 70px;
}
/* inizio css collapsible */
.panelHeader {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 2s;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    transition: all 250ms;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.panelHeader.active, .panelHeader:hover {
    background-color: #ccc;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
}

div.panelCollapsibleBody {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    margin-bottom: 2%;
    transition: max-height 2s ease-out;
}
/* fine css collapsible*/
/* flag css */
.flagIcon{
    width: 50px;
    height: 50px;
}

.collapsibleImageStyle{
  height: 300px;
  width: 300px;
}

.temperature-box {
    float: right;
    border-radius: 10px;
    border: solid 2px #fff;
    width: 150px;
    height: 60px;
    color: #fff;
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
}

.weather-icon {
	position: relative;
  float: right;
	top: -10px;
	-webkit-filter: drop-shadow(1px 1px 0 white)
					drop-shadow(-1px 1px 0 white)
					drop-shadow(1px -1px 0 white)
		 			drop-shadow(-1px -1px 0 white);

	filter: drop-shadow(1px 1px 0 white)
			drop-shadow(-1px 1px 0 white)
			drop-shadow(1px -1px 0 white)
			drop-shadow(-1px -1px 0 white);
}

.error-panel {
    /*display: none;
    position: fixed;*/
    padding: 30px;
    text-align: center;
    background-color: coral;
    top: 30px;
    left: 40px;
    border: solid 8px #c00;
    z-index: 5;
    height: 200px;
    overflow-y: scroll;
    padding: 10px;
    margin-left: 20px;
    margin-top: 20%;
    border-radius: 10px;
}

.error-panel h2 {
  margin: 10px;
}

.error-panel button {
  margin-top: 20px;
}

.loading-box {
    position: relative;
    left: 15%;
    /* margin-left: -250px; */
    top: 10px;
    width: 240px;
    height: 150px;
    text-align: center;
    background-position: -267px -140px;
    background-image: url(../img/cloud_load.gif);
    background-position: -276px -169px;
    /*background-color: white;*/
  /*  border: solid 4px #3c81f8;
    border-radius: 30px;*/
    color: #3c81f8;
    padding: 40px;
    font-size: 20px;
}

#loading-percent {
  position: relative;
  top: 45%;
  font-size: 25px;
}

.jsonBlob-error {
  color: red;
}
